@import "../../sass/vars";
@import "../../sass/mixins";

.local-health-container {
  @include main-area-container();
}

.local-health-header {
  color: $grey;
}

.county-picker {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 420px) {
  .local-health-container {
    background-color: $light-blue;
    height: 100vh;
  }
  .county-picker {
    display: inline;
  }
}
