@import '../../sass/vars';
@import '../../sass/mixins';

.local-health-container {
    @include main-area-container();
}

.local-health-header {
    color: $grey;
}

.county-picker {
    display: flex;
    flex-direction: row;
}