@import "./vars";

@mixin main-area-container() {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@mixin header-border-position($bg-color) {
  background-color: $bg-color;
  display: flex;
  position: relative;
  z-index: 1;
}

@mixin header-border-line($left-size, $width, $border-color) {
  content: "";
  position: absolute;
  left: $left-size;
  bottom: 0;
  width: $width;
  border-bottom: 2px solid $border-color;
}

@mixin btn($border-color, $font-color) {
  background-color: $light-blue;
  color: $font-color;
  border: 2px solid $border-color;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  width: 220px;
}
