@import '../../sass/vars';


table, th, tr {
    border: 1px solid black;
    margin-top: 20px;
}

.county-data-container {
    display: flex;
    margin: 20px auto 0 auto;
}

@media only screen and (max-width: 420px) {
    .county-data-container {
        background-color: $light-blue;
        height: 20vh;
    }
  }