.App {
  background-color: #00B2FF;
  display: grid;
  grid-template-areas: "header nav nav"
                        "sidebar main main"
                        "sidebar main main";
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.welcome {
  grid-area: 'main';
}