@import '../../sass/mixins';
@import '../../sass/vars';

.county-stats-container {
    @include main-area-container()
}

.county-stats-header {
    color: $grey;
}


.county-picker {
    display: flex;
    flex-direction: row;
}

.bookmark-btn {
    @include btn(black, black);
    margin: 50px auto;
}

@media only screen and (max-width: 420px) {
    .county-stats-container {
        background-color: $light-blue;
        height: 100vh;
    }
}