@import '../../sass/vars';
@import '../../sass/mixins';

.header-container {
  @include header-border-position($grey);
  flex-direction: row-reverse;
  padding: 50px 20px
}

.header-container:before {
  @include header-border-line(19%, 82%, $sidebar-blue);
}

.title {
  color: $sidebar-blue;
}

.covid-live {
  font-size: 40px;
}

.colorado {
  font-size: 28px;
  text-align: right;
}

@media only screen and (max-width: 420px) {
  .header-container {
    height: 100px;
    padding: 0px 0;
  }
}