@import '../../sass/_vars.scss';

.sidebar-container {
  background-color: $grey;
}

.sidebar-links {
  list-style-type: none;
  padding-right: 25px;
  margin: 20px 0;
  text-align: right;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}



.about,
.staying-protected,
.local-health,
.county-stats,
.bookmarked-counties {
  color: #0788bf;
  font-size: 1.2em;
  margin: 40px 0 0 10px;
  padding-right: 5px;
}

.active-link {
  border-right: 2px solid $light-blue;
  margin-left: 10px;
}

.inactive-link {
  border-right: 2px solid $sidebar-blue;
  margin-left: 10px;
}

@media only screen and (max-width: 420px) {
  .sidebar-container {
    flex-direction: column;
    font-family: "Roboto Mono", monospace;
  }
  .about,
.staying-protected,
.local-health,
.county-stats,
.bookmarked-counties {
  color: #0788bf;
  font-size: 1.2em;
  margin: 5px 20px;
}
}