@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300;1,400&display=swap");

.App {
  background-color: #00b2ff;
  display: grid;
  font-family: "Roboto Mono", monospace;
  grid-template-areas:
    "header nav"
    "sidebar main"
    "footer main";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.main-area {
  grid-area: main;
}
