@import "../../sass/mixins";
@import "../../sass/vars";

.bookmarks-container {
  @include main-area-container();
  overflow: scroll;
}

.bookmarks-header {
  color: $grey;
}

@media only screen and (max-width: 420px) {
  .bookmarks-container {
    background: $light-blue;
    height: 100vh;
  }
}
