.nav-container {
    background-color: #00B2FF;
    display: flex;
    position: relative;
    z-index: 1;
}
.nav-container:before {
    content : "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 88%; 
    border-bottom: 2px solid #EFEFEF;
}

.site-description {
    color: #EFEFEF;
    font-size: 20px;
    font-style: italic;
    margin: auto 0 auto 8%;
}



